[user]
	name = Guilherme de Andrade
	email = guilhermedeandrade@protonmail.com

[includeIf "gitdir:~/workspace/new-work/"]
  	path = .gitconfig-new-work

[core]
  	editor = vim
	excludesfile = ~/.gitignore_global
	pager = delta 

[delta]
   	syntax-theme = Dracula
    
[interactive]
    	diffFilter = delta --color-only

[init]
	defaultBranch = main

[github]
	user = guilhermedeandrade
