[user]
	name = Guilherme de Andrade
	email = guilhermedeandrade@protonmail.com
[core]
  	editor = vim
	pager = delta
[delta]
   	syntax-theme = Dracula  
[interactive]
    	diffFilter = delta --color-only
[init]
	defaultBranch = main
[github]
	user = ubmit
[pull]
	rebase = true
